@layer components {
    @media (min-width: 1024px) {
        .custom-parentdiv-width {
            width: 1000px;
        }
    }

    @media screen and (max-width: 767px) {
        .hide-on-767px {
            display: none;
        }
    }
    .image-container {
        width: auto; /* Full width */
        height: 100; /* Height will be auto-adjusted */
    }
}
